
%fh-glass:before, %fha-glass:after { content: $fh-var-glass; }
%fh-music:before, %fha-music:after { content: $fh-var-music; }
%fh-search:before, %fha-search:after { content: $fh-var-search; }
%fh-envelope-o:before, %fha-envelope-o:after { content: $fh-var-envelope-o; }
%fh-heart:before, %fha-heart:after { content: $fh-var-heart; }
%fh-star:before, %fha-star:after { content: $fh-var-star; }
%fh-star-o:before, %fha-star-o:after { content: $fh-var-star-o; }
%fh-user:before, %fha-user:after { content: $fh-var-user; }
%fh-film:before, %fha-film:after { content: $fh-var-film; }
%fh-th-large:before, %fha-th-large:after { content: $fh-var-th-large; }
%fh-th:before, %fha-th:after { content: $fh-var-th; }
%fh-th-list:before, %fha-th-list:after { content: $fh-var-th-list; }
%fh-check:before, %fha-check:after { content: $fh-var-check; }
%fh-remove:before, %fha-remove:after,
%fh-close:before, %fha-close:after,
%fh-times:before, %fha-times:after { content: $fh-var-times; }
%fh-search-plus:before, %fha-search-plus:after { content: $fh-var-search-plus; }
%fh-search-minus:before, %fha-search-minus:after { content: $fh-var-search-minus; }
%fh-power-off:before, %fha-power-off:after { content: $fh-var-power-off; }
%fh-signal:before, %fha-signal:after { content: $fh-var-signal; }
%fh-gear:before, %fha-gear:after,
%fh-cog:before, %fha-cog:after { content: $fh-var-cog; }
%fh-trash-o:before, %fha-trash-o:after { content: $fh-var-trash-o; }
%fh-home:before, %fha-home:after { content: $fh-var-home; }
%fh-file-o:before, %fha-file-o:after { content: $fh-var-file-o; }
%fh-clock-o:before, %fha-clock-o:after { content: $fh-var-clock-o; }
%fh-road:before, %fha-road:after { content: $fh-var-road; }
%fh-download:before, %fha-download:after { content: $fh-var-download; }
%fh-arrow-circle-o-down:before, %fha-arrow-circle-o-down:after { content: $fh-var-arrow-circle-o-down; }
%fh-arrow-circle-o-up:before, %fha-arrow-circle-o-up:after { content: $fh-var-arrow-circle-o-up; }
%fh-inbox:before, %fha-inbox:after { content: $fh-var-inbox; }
%fh-play-circle-o:before, %fha-play-circle-o:after { content: $fh-var-play-circle-o; }
%fh-rotate-right:before, %fha-rotate-right:after,
%fh-repeat:before, %fha-repeat:after { content: $fh-var-repeat; }
%fh-refresh:before, %fha-refresh:after { content: $fh-var-refresh; }
%fh-list-alt:before, %fha-list-alt:after { content: $fh-var-list-alt; }
%fh-lock:before, %fha-lock:after { content: $fh-var-lock; }
%fh-flag:before, %fha-flag:after { content: $fh-var-flag; }
%fh-headphones:before, %fha-headphones:after { content: $fh-var-headphones; }
%fh-volume-off:before, %fha-volume-off:after { content: $fh-var-volume-off; }
%fh-volume-down:before, %fha-volume-down:after { content: $fh-var-volume-down; }
%fh-volume-up:before, %fha-volume-up:after { content: $fh-var-volume-up; }
%fh-qrcode:before, %fha-qrcode:after { content: $fh-var-qrcode; }
%fh-barcode:before, %fha-barcode:after { content: $fh-var-barcode; }
%fh-tag:before, %fha-tag:after { content: $fh-var-tag; }
%fh-tags:before, %fha-tags:after { content: $fh-var-tags; }
%fh-book:before, %fha-book:after { content: $fh-var-book; }
%fh-bookmark:before, %fha-bookmark:after { content: $fh-var-bookmark; }
%fh-print:before, %fha-print:after { content: $fh-var-print; }
%fh-camera:before, %fha-camera:after { content: $fh-var-camera; }
%fh-font:before, %fha-font:after { content: $fh-var-font; }
%fh-bold:before, %fha-bold:after { content: $fh-var-bold; }
%fh-italic:before, %fha-italic:after { content: $fh-var-italic; }
%fh-text-height:before, %fha-text-height:after { content: $fh-var-text-height; }
%fh-text-width:before, %fha-text-width:after { content: $fh-var-text-width; }
%fh-align-left:before, %fha-align-left:after { content: $fh-var-align-left; }
%fh-align-center:before, %fha-align-center:after { content: $fh-var-align-center; }
%fh-align-right:before, %fha-align-right:after { content: $fh-var-align-right; }
%fh-align-justify:before, %fha-align-justify:after { content: $fh-var-align-justify; }
%fh-list:before, %fha-list:after { content: $fh-var-list; }
%fh-dedent:before, %fha-dedent:after,
%fh-outdent:before, %fha-outdent:after { content: $fh-var-outdent; }
%fh-indent:before, %fha-indent:after { content: $fh-var-indent; }
%fh-video-camera:before, %fha-video-camera:after { content: $fh-var-video-camera; }
%fh-photo:before, %fha-photo:after,
%fh-image:before, %fha-image:after,
%fh-picture-o:before, %fha-picture-o:after { content: $fh-var-picture-o; }
%fh-pencil:before, %fha-pencil:after { content: $fh-var-pencil; }
%fh-map-marker:before, %fha-map-marker:after { content: $fh-var-map-marker; }
%fh-adjust:before, %fha-adjust:after { content: $fh-var-adjust; }
%fh-tint:before, %fha-tint:after { content: $fh-var-tint; }
%fh-edit:before, %fha-edit:after,
%fh-pencil-square-o:before, %fha-pencil-square-o:after { content: $fh-var-pencil-square-o; }
%fh-share-square-o:before, %fha-share-square-o:after { content: $fh-var-share-square-o; }
%fh-check-square-o:before, %fha-check-square-o:after { content: $fh-var-check-square-o; }
%fh-arrows:before, %fha-arrows:after { content: $fh-var-arrows; }
%fh-step-backward:before, %fha-step-backward:after { content: $fh-var-step-backward; }
%fh-fast-backward:before, %fha-fast-backward:after { content: $fh-var-fast-backward; }
%fh-backward:before, %fha-backward:after { content: $fh-var-backward; }
%fh-play:before, %fha-play:after { content: $fh-var-play; }
%fh-pause:before, %fha-pause:after { content: $fh-var-pause; }
%fh-stop:before, %fha-stop:after { content: $fh-var-stop; }
%fh-forward:before, %fha-forward:after { content: $fh-var-forward; }
%fh-fast-forward:before, %fha-fast-forward:after { content: $fh-var-fast-forward; }
%fh-step-forward:before, %fha-step-forward:after { content: $fh-var-step-forward; }
%fh-eject:before, %fha-eject:after { content: $fh-var-eject; }
%fh-chevron-left:before, %fha-chevron-left:after { content: $fh-var-chevron-left; }
%fh-chevron-right:before, %fha-chevron-right:after { content: $fh-var-chevron-right; }
%fh-plus-circle:before, %fha-plus-circle:after { content: $fh-var-plus-circle; }
%fh-minus-circle:before, %fha-minus-circle:after { content: $fh-var-minus-circle; }
%fh-times-circle:before, %fha-times-circle:after { content: $fh-var-times-circle; }
%fh-check-circle:before, %fha-check-circle:after { content: $fh-var-check-circle; }
%fh-question-circle:before, %fha-question-circle:after { content: $fh-var-question-circle; }
%fh-info-circle:before, %fha-info-circle:after { content: $fh-var-info-circle; }
%fh-crosshairs:before, %fha-crosshairs:after { content: $fh-var-crosshairs; }
%fh-times-circle-o:before, %fha-times-circle-o:after { content: $fh-var-times-circle-o; }
%fh-check-circle-o:before, %fha-check-circle-o:after { content: $fh-var-check-circle-o; }
%fh-ban:before, %fha-ban:after { content: $fh-var-ban; }
%fh-arrow-left:before, %fha-arrow-left:after { content: $fh-var-arrow-left; }
%fh-arrow-right:before, %fha-arrow-right:after { content: $fh-var-arrow-right; }
%fh-arrow-up:before, %fha-arrow-up:after { content: $fh-var-arrow-up; }
%fh-arrow-down:before, %fha-arrow-down:after { content: $fh-var-arrow-down; }
%fh-mail-forward:before, %fha-mail-forward:after,
%fh-share:before, %fha-share:after { content: $fh-var-share; }
%fh-expand:before, %fha-expand:after { content: $fh-var-expand; }
%fh-compress:before, %fha-compress:after { content: $fh-var-compress; }
%fh-plus:before, %fha-plus:after { content: $fh-var-plus; }
%fh-minus:before, %fha-minus:after { content: $fh-var-minus; }
%fh-asterisk:before, %fha-asterisk:after { content: $fh-var-asterisk; }
%fh-exclamation-circle:before, %fha-exclamation-circle:after { content: $fh-var-exclamation-circle; }
%fh-gift:before, %fha-gift:after { content: $fh-var-gift; }
%fh-leaf:before, %fha-leaf:after { content: $fh-var-leaf; }
%fh-fire:before, %fha-fire:after { content: $fh-var-fire; }
%fh-eye:before, %fha-eye:after { content: $fh-var-eye; }
%fh-eye-slash:before, %fha-eye-slash:after { content: $fh-var-eye-slash; }
%fh-warning:before, %fha-warning:after,
%fh-exclamation-triangle:before, %fha-exclamation-triangle:after { content: $fh-var-exclamation-triangle; }
%fh-plane:before, %fha-plane:after { content: $fh-var-plane; }
%fh-calendar:before, %fha-calendar:after { content: $fh-var-calendar; }
%fh-random:before, %fha-random:after { content: $fh-var-random; }
%fh-comment:before, %fha-comment:after { content: $fh-var-comment; }
%fh-magnet:before, %fha-magnet:after { content: $fh-var-magnet; }
%fh-chevron-up:before, %fha-chevron-up:after { content: $fh-var-chevron-up; }
%fh-chevron-down:before, %fha-chevron-down:after { content: $fh-var-chevron-down; }
%fh-retweet:before, %fha-retweet:after { content: $fh-var-retweet; }
%fh-shopping-cart:before, %fha-shopping-cart:after { content: $fh-var-shopping-cart; }
%fh-folder:before, %fha-folder:after { content: $fh-var-folder; }
%fh-folder-open:before, %fha-folder-open:after { content: $fh-var-folder-open; }
%fh-arrows-v:before, %fha-arrows-v:after { content: $fh-var-arrows-v; }
%fh-arrows-h:before, %fha-arrows-h:after { content: $fh-var-arrows-h; }
%fh-bar-chart-o:before, %fha-bar-chart-o:after,
%fh-bar-chart:before, %fha-bar-chart:after { content: $fh-var-bar-chart; }
%fh-twitter-square:before, %fha-twitter-square:after { content: $fh-var-twitter-square; }
%fh-facebook-square:before, %fha-facebook-square:after { content: $fh-var-facebook-square; }
%fh-camera-retro:before, %fha-camera-retro:after { content: $fh-var-camera-retro; }
%fh-key:before, %fha-key:after { content: $fh-var-key; }
%fh-gears:before, %fha-gears:after,
%fh-cogs:before, %fha-cogs:after { content: $fh-var-cogs; }
%fh-comments:before, %fha-comments:after { content: $fh-var-comments; }
%fh-thumbs-o-up:before, %fha-thumbs-o-up:after { content: $fh-var-thumbs-o-up; }
%fh-thumbs-o-down:before, %fha-thumbs-o-down:after { content: $fh-var-thumbs-o-down; }
%fh-star-half:before, %fha-star-half:after { content: $fh-var-star-half; }
%fh-heart-o:before, %fha-heart-o:after { content: $fh-var-heart-o; }
%fh-sign-out:before, %fha-sign-out:after { content: $fh-var-sign-out; }
%fh-linkedin-square:before, %fha-linkedin-square:after { content: $fh-var-linkedin-square; }
%fh-thumb-tack:before, %fha-thumb-tack:after { content: $fh-var-thumb-tack; }
%fh-external-link:before, %fha-external-link:after { content: $fh-var-external-link; }
%fh-sign-in:before, %fha-sign-in:after { content: $fh-var-sign-in; }
%fh-trophy:before, %fha-trophy:after { content: $fh-var-trophy; }
%fh-github-square:before, %fha-github-square:after { content: $fh-var-github-square; }
%fh-upload:before, %fha-upload:after { content: $fh-var-upload; }
%fh-lemon-o:before, %fha-lemon-o:after { content: $fh-var-lemon-o; }
%fh-phone:before, %fha-phone:after { content: $fh-var-phone; }
%fh-square-o:before, %fha-square-o:after { content: $fh-var-square-o; }
%fh-bookmark-o:before, %fha-bookmark-o:after { content: $fh-var-bookmark-o; }
%fh-phone-square:before, %fha-phone-square:after { content: $fh-var-phone-square; }
%fh-twitter:before, %fha-twitter:after { content: $fh-var-twitter; }
%fh-facebook-f:before, %fha-facebook-f:after,
%fh-facebook:before, %fha-facebook:after { content: $fh-var-facebook; }
%fh-github:before, %fha-github:after { content: $fh-var-github; }
%fh-unlock:before, %fha-unlock:after { content: $fh-var-unlock; }
%fh-credit-card:before, %fha-credit-card:after { content: $fh-var-credit-card; }
%fh-rss:before, %fha-rss:after { content: $fh-var-rss; }
%fh-hdd-o:before, %fha-hdd-o:after { content: $fh-var-hdd-o; }
%fh-bullhorn:before, %fha-bullhorn:after { content: $fh-var-bullhorn; }
%fh-bell:before, %fha-bell:after { content: $fh-var-bell; }
%fh-certificate:before, %fha-certificate:after { content: $fh-var-certificate; }
%fh-hand-o-right:before, %fha-hand-o-right:after { content: $fh-var-hand-o-right; }
%fh-hand-o-left:before, %fha-hand-o-left:after { content: $fh-var-hand-o-left; }
%fh-hand-o-up:before, %fha-hand-o-up:after { content: $fh-var-hand-o-up; }
%fh-hand-o-down:before, %fha-hand-o-down:after { content: $fh-var-hand-o-down; }
%fh-arrow-circle-left:before, %fha-arrow-circle-left:after { content: $fh-var-arrow-circle-left; }
%fh-arrow-circle-right:before, %fha-arrow-circle-right:after { content: $fh-var-arrow-circle-right; }
%fh-arrow-circle-up:before, %fha-arrow-circle-up:after { content: $fh-var-arrow-circle-up; }
%fh-arrow-circle-down:before, %fha-arrow-circle-down:after { content: $fh-var-arrow-circle-down; }
%fh-globe:before, %fha-globe:after { content: $fh-var-globe; }
%fh-wrench:before, %fha-wrench:after { content: $fh-var-wrench; }
%fh-tasks:before, %fha-tasks:after { content: $fh-var-tasks; }
%fh-filter:before, %fha-filter:after { content: $fh-var-filter; }
%fh-briefcase:before, %fha-briefcase:after { content: $fh-var-briefcase; }
%fh-arrows-alt:before, %fha-arrows-alt:after { content: $fh-var-arrows-alt; }
%fh-group:before, %fha-group:after,
%fh-users:before, %fha-users:after { content: $fh-var-users; }
%fh-chain:before, %fha-chain:after,
%fh-link:before, %fha-link:after { content: $fh-var-link; }
%fh-cloud:before, %fha-cloud:after { content: $fh-var-cloud; }
%fh-flask:before, %fha-flask:after { content: $fh-var-flask; }
%fh-cut:before, %fha-cut:after,
%fh-scissors:before, %fha-scissors:after { content: $fh-var-scissors; }
%fh-copy:before, %fha-copy:after,
%fh-files-o:before, %fha-files-o:after { content: $fh-var-files-o; }
%fh-paperclip:before, %fha-paperclip:after { content: $fh-var-paperclip; }
%fh-save:before, %fha-save:after,
%fh-floppy-o:before, %fha-floppy-o:after { content: $fh-var-floppy-o; }
%fh-square:before, %fha-square:after { content: $fh-var-square; }
%fh-navicon:before, %fha-navicon:after,
%fh-reorder:before, %fha-reorder:after,
%fh-bars:before, %fha-bars:after { content: $fh-var-bars; }
%fh-list-ul:before, %fha-list-ul:after { content: $fh-var-list-ul; }
%fh-list-ol:before, %fha-list-ol:after { content: $fh-var-list-ol; }
%fh-strikethrough:before, %fha-strikethrough:after { content: $fh-var-strikethrough; }
%fh-underline:before, %fha-underline:after { content: $fh-var-underline; }
%fh-table:before, %fha-table:after { content: $fh-var-table; }
%fh-magic:before, %fha-magic:after { content: $fh-var-magic; }
%fh-truck:before, %fha-truck:after { content: $fh-var-truck; }
%fh-pinterest:before, %fha-pinterest:after { content: $fh-var-pinterest; }
%fh-pinterest-square:before, %fha-pinterest-square:after { content: $fh-var-pinterest-square; }
%fh-google-plus-square:before, %fha-google-plus-square:after { content: $fh-var-google-plus-square; }
%fh-google-plus:before, %fha-google-plus:after { content: $fh-var-google-plus; }
%fh-money:before, %fha-money:after { content: $fh-var-money; }
%fh-caret-down:before, %fha-caret-down:after { content: $fh-var-caret-down; }
%fh-caret-up:before, %fha-caret-up:after { content: $fh-var-caret-up; }
%fh-caret-left:before, %fha-caret-left:after { content: $fh-var-caret-left; }
%fh-caret-right:before, %fha-caret-right:after { content: $fh-var-caret-right; }
%fh-columns:before, %fha-columns:after { content: $fh-var-columns; }
%fh-unsorted:before, %fha-unsorted:after,
%fh-sort:before, %fha-sort:after { content: $fh-var-sort; }
%fh-sort-down:before, %fha-sort-down:after,
%fh-sort-desc:before, %fha-sort-desc:after { content: $fh-var-sort-desc; }
%fh-sort-up:before, %fha-sort-up:after,
%fh-sort-asc:before, %fha-sort-asc:after { content: $fh-var-sort-asc; }
%fh-envelope:before, %fha-envelope:after { content: $fh-var-envelope; }
%fh-linkedin:before, %fha-linkedin:after { content: $fh-var-linkedin; }
%fh-rotate-left:before, %fha-rotate-left:after,
%fh-undo:before, %fha-undo:after { content: $fh-var-undo; }
%fh-legal:before, %fha-legal:after,
%fh-gavel:before, %fha-gavel:after { content: $fh-var-gavel; }
%fh-dashboard:before, %fha-dashboard:after,
%fh-tachometer:before, %fha-tachometer:after { content: $fh-var-tachometer; }
%fh-comment-o:before, %fha-comment-o:after { content: $fh-var-comment-o; }
%fh-comments-o:before, %fha-comments-o:after { content: $fh-var-comments-o; }
%fh-flash:before, %fha-flash:after,
%fh-bolt:before, %fha-bolt:after { content: $fh-var-bolt; }
%fh-sitemap:before, %fha-sitemap:after { content: $fh-var-sitemap; }
%fh-umbrella:before, %fha-umbrella:after { content: $fh-var-umbrella; }
%fh-paste:before, %fha-paste:after,
%fh-clipboard:before, %fha-clipboard:after { content: $fh-var-clipboard; }
%fh-lightbulb-o:before, %fha-lightbulb-o:after { content: $fh-var-lightbulb-o; }
%fh-exchange:before, %fha-exchange:after { content: $fh-var-exchange; }
%fh-cloud-download:before, %fha-cloud-download:after { content: $fh-var-cloud-download; }
%fh-cloud-upload:before, %fha-cloud-upload:after { content: $fh-var-cloud-upload; }
%fh-user-md:before, %fha-user-md:after { content: $fh-var-user-md; }
%fh-stethoscope:before, %fha-stethoscope:after { content: $fh-var-stethoscope; }
%fh-suitcase:before, %fha-suitcase:after { content: $fh-var-suitcase; }
%fh-bell-o:before, %fha-bell-o:after { content: $fh-var-bell-o; }
%fh-coffee:before, %fha-coffee:after { content: $fh-var-coffee; }
%fh-cutlery:before, %fha-cutlery:after { content: $fh-var-cutlery; }
%fh-file-text-o:before, %fha-file-text-o:after { content: $fh-var-file-text-o; }
%fh-building-o:before, %fha-building-o:after { content: $fh-var-building-o; }
%fh-hospital-o:before, %fha-hospital-o:after { content: $fh-var-hospital-o; }
%fh-ambulance:before, %fha-ambulance:after { content: $fh-var-ambulance; }
%fh-medkit:before, %fha-medkit:after { content: $fh-var-medkit; }
%fh-fighter-jet:before, %fha-fighter-jet:after { content: $fh-var-fighter-jet; }
%fh-beer:before, %fha-beer:after { content: $fh-var-beer; }
%fh-h-square:before, %fha-h-square:after { content: $fh-var-h-square; }
%fh-plus-square:before, %fha-plus-square:after { content: $fh-var-plus-square; }
%fh-angle-double-left:before, %fha-angle-double-left:after { content: $fh-var-angle-double-left; }
%fh-angle-double-right:before, %fha-angle-double-right:after { content: $fh-var-angle-double-right; }
%fh-angle-double-up:before, %fha-angle-double-up:after { content: $fh-var-angle-double-up; }
%fh-angle-double-down:before, %fha-angle-double-down:after { content: $fh-var-angle-double-down; }
%fh-angle-left:before, %fha-angle-left:after { content: $fh-var-angle-left; }
%fh-angle-right:before, %fha-angle-right:after { content: $fh-var-angle-right; }
%fh-angle-up:before, %fha-angle-up:after { content: $fh-var-angle-up; }
%fh-angle-down:before, %fha-angle-down:after { content: $fh-var-angle-down; }
%fh-desktop:before, %fha-desktop:after { content: $fh-var-desktop; }
%fh-laptop:before, %fha-laptop:after { content: $fh-var-laptop; }
%fh-tablet:before, %fha-tablet:after { content: $fh-var-tablet; }
%fh-mobile-phone:before, %fha-mobile-phone:after,
%fh-mobile:before, %fha-mobile:after { content: $fh-var-mobile; }
%fh-circle-o:before, %fha-circle-o:after { content: $fh-var-circle-o; }
%fh-quote-left:before, %fha-quote-left:after { content: $fh-var-quote-left; }
%fh-quote-right:before, %fha-quote-right:after { content: $fh-var-quote-right; }
%fh-spinner:before, %fha-spinner:after { content: $fh-var-spinner; }
%fh-circle:before, %fha-circle:after { content: $fh-var-circle; }
%fh-mail-reply:before, %fha-mail-reply:after,
%fh-reply:before, %fha-reply:after { content: $fh-var-reply; }
%fh-github-alt:before, %fha-github-alt:after { content: $fh-var-github-alt; }
%fh-folder-o:before, %fha-folder-o:after { content: $fh-var-folder-o; }
%fh-folder-open-o:before, %fha-folder-open-o:after { content: $fh-var-folder-open-o; }
%fh-smile-o:before, %fha-smile-o:after { content: $fh-var-smile-o; }
%fh-frown-o:before, %fha-frown-o:after { content: $fh-var-frown-o; }
%fh-meh-o:before, %fha-meh-o:after { content: $fh-var-meh-o; }
%fh-gamepad:before, %fha-gamepad:after { content: $fh-var-gamepad; }
%fh-keyboard-o:before, %fha-keyboard-o:after { content: $fh-var-keyboard-o; }
%fh-flag-o:before, %fha-flag-o:after { content: $fh-var-flag-o; }
%fh-flag-checkered:before, %fha-flag-checkered:after { content: $fh-var-flag-checkered; }
%fh-terminal:before, %fha-terminal:after { content: $fh-var-terminal; }
%fh-code:before, %fha-code:after { content: $fh-var-code; }
%fh-mail-reply-all:before, %fha-mail-reply-all:after,
%fh-reply-all:before, %fha-reply-all:after { content: $fh-var-reply-all; }
%fh-star-half-empty:before, %fha-star-half-empty:after,
%fh-star-half-full:before, %fha-star-half-full:after,
%fh-star-half-o:before, %fha-star-half-o:after { content: $fh-var-star-half-o; }
%fh-location-arrow:before, %fha-location-arrow:after { content: $fh-var-location-arrow; }
%fh-crop:before, %fha-crop:after { content: $fh-var-crop; }
%fh-code-fork:before, %fha-code-fork:after { content: $fh-var-code-fork; }
%fh-unlink:before, %fha-unlink:after,
%fh-chain-broken:before, %fha-chain-broken:after { content: $fh-var-chain-broken; }
%fh-question:before, %fha-question:after { content: $fh-var-question; }
%fh-info:before, %fha-info:after { content: $fh-var-info; }
%fh-exclamation:before, %fha-exclamation:after { content: $fh-var-exclamation; }
%fh-superscript:before, %fha-superscript:after { content: $fh-var-superscript; }
%fh-subscript:before, %fha-subscript:after { content: $fh-var-subscript; }
%fh-eraser:before, %fha-eraser:after { content: $fh-var-eraser; }
%fh-puzzle-piece:before, %fha-puzzle-piece:after { content: $fh-var-puzzle-piece; }
%fh-microphone:before, %fha-microphone:after { content: $fh-var-microphone; }
%fh-microphone-slash:before, %fha-microphone-slash:after { content: $fh-var-microphone-slash; }
%fh-shield:before, %fha-shield:after { content: $fh-var-shield; }
%fh-calendar-o:before, %fha-calendar-o:after { content: $fh-var-calendar-o; }
%fh-fire-extinguisher:before, %fha-fire-extinguisher:after { content: $fh-var-fire-extinguisher; }
%fh-rocket:before, %fha-rocket:after { content: $fh-var-rocket; }
%fh-maxcdn:before, %fha-maxcdn:after { content: $fh-var-maxcdn; }
%fh-chevron-circle-left:before, %fha-chevron-circle-left:after { content: $fh-var-chevron-circle-left; }
%fh-chevron-circle-right:before, %fha-chevron-circle-right:after { content: $fh-var-chevron-circle-right; }
%fh-chevron-circle-up:before, %fha-chevron-circle-up:after { content: $fh-var-chevron-circle-up; }
%fh-chevron-circle-down:before, %fha-chevron-circle-down:after { content: $fh-var-chevron-circle-down; }
%fh-html5:before, %fha-html5:after { content: $fh-var-html5; }
%fh-css3:before, %fha-css3:after { content: $fh-var-css3; }
%fh-anchor:before, %fha-anchor:after { content: $fh-var-anchor; }
%fh-unlock-alt:before, %fha-unlock-alt:after { content: $fh-var-unlock-alt; }
%fh-bullseye:before, %fha-bullseye:after { content: $fh-var-bullseye; }
%fh-ellipsis-h:before, %fha-ellipsis-h:after { content: $fh-var-ellipsis-h; }
%fh-ellipsis-v:before, %fha-ellipsis-v:after { content: $fh-var-ellipsis-v; }
%fh-rss-square:before, %fha-rss-square:after { content: $fh-var-rss-square; }
%fh-play-circle:before, %fha-play-circle:after { content: $fh-var-play-circle; }
%fh-ticket:before, %fha-ticket:after { content: $fh-var-ticket; }
%fh-minus-square:before, %fha-minus-square:after { content: $fh-var-minus-square; }
%fh-minus-square-o:before, %fha-minus-square-o:after { content: $fh-var-minus-square-o; }
%fh-level-up:before, %fha-level-up:after { content: $fh-var-level-up; }
%fh-level-down:before, %fha-level-down:after { content: $fh-var-level-down; }
%fh-check-square:before, %fha-check-square:after { content: $fh-var-check-square; }
%fh-pencil-square:before, %fha-pencil-square:after { content: $fh-var-pencil-square; }
%fh-external-link-square:before, %fha-external-link-square:after { content: $fh-var-external-link-square; }
%fh-share-square:before, %fha-share-square:after { content: $fh-var-share-square; }
%fh-compass:before, %fha-compass:after { content: $fh-var-compass; }
%fh-toggle-down:before, %fha-toggle-down:after,
%fh-caret-square-o-down:before, %fha-caret-square-o-down:after { content: $fh-var-caret-square-o-down; }
%fh-toggle-up:before, %fha-toggle-up:after,
%fh-caret-square-o-up:before, %fha-caret-square-o-up:after { content: $fh-var-caret-square-o-up; }
%fh-toggle-right:before, %fha-toggle-right:after,
%fh-caret-square-o-right:before, %fha-caret-square-o-right:after { content: $fh-var-caret-square-o-right; }
%fh-euro:before, %fha-euro:after,
%fh-eur:before, %fha-eur:after { content: $fh-var-eur; }
%fh-gbp:before, %fha-gbp:after { content: $fh-var-gbp; }
%fh-dollar:before, %fha-dollar:after,
%fh-usd:before, %fha-usd:after { content: $fh-var-usd; }
%fh-rupee:before, %fha-rupee:after,
%fh-inr:before, %fha-inr:after { content: $fh-var-inr; }
%fh-cny:before, %fha-cny:after,
%fh-rmb:before, %fha-rmb:after,
%fh-yen:before, %fha-yen:after,
%fh-jpy:before, %fha-jpy:after { content: $fh-var-jpy; }
%fh-ruble:before, %fha-ruble:after,
%fh-rouble:before, %fha-rouble:after,
%fh-rub:before, %fha-rub:after { content: $fh-var-rub; }
%fh-won:before, %fha-won:after,
%fh-krw:before, %fha-krw:after { content: $fh-var-krw; }
%fh-bitcoin:before, %fha-bitcoin:after,
%fh-btc:before, %fha-btc:after { content: $fh-var-btc; }
%fh-file:before, %fha-file:after { content: $fh-var-file; }
%fh-file-text:before, %fha-file-text:after { content: $fh-var-file-text; }
%fh-sort-alpha-asc:before, %fha-sort-alpha-asc:after { content: $fh-var-sort-alpha-asc; }
%fh-sort-alpha-desc:before, %fha-sort-alpha-desc:after { content: $fh-var-sort-alpha-desc; }
%fh-sort-amount-asc:before, %fha-sort-amount-asc:after { content: $fh-var-sort-amount-asc; }
%fh-sort-amount-desc:before, %fha-sort-amount-desc:after { content: $fh-var-sort-amount-desc; }
%fh-sort-numeric-asc:before, %fha-sort-numeric-asc:after { content: $fh-var-sort-numeric-asc; }
%fh-sort-numeric-desc:before, %fha-sort-numeric-desc:after { content: $fh-var-sort-numeric-desc; }
%fh-thumbs-up:before, %fha-thumbs-up:after { content: $fh-var-thumbs-up; }
%fh-thumbs-down:before, %fha-thumbs-down:after { content: $fh-var-thumbs-down; }
%fh-youtube-square:before, %fha-youtube-square:after { content: $fh-var-youtube-square; }
%fh-youtube:before, %fha-youtube:after { content: $fh-var-youtube; }
%fh-xing:before, %fha-xing:after { content: $fh-var-xing; }
%fh-xing-square:before, %fha-xing-square:after { content: $fh-var-xing-square; }
%fh-youtube-play:before, %fha-youtube-play:after { content: $fh-var-youtube-play; }
%fh-dropbox:before, %fha-dropbox:after { content: $fh-var-dropbox; }
%fh-stack-overflow:before, %fha-stack-overflow:after { content: $fh-var-stack-overflow; }
%fh-instagram:before, %fha-instagram:after { content: $fh-var-instagram; }
%fh-flickr:before, %fha-flickr:after { content: $fh-var-flickr; }
%fh-adn:before, %fha-adn:after { content: $fh-var-adn; }
%fh-bitbucket:before, %fha-bitbucket:after { content: $fh-var-bitbucket; }
%fh-bitbucket-square:before, %fha-bitbucket-square:after { content: $fh-var-bitbucket-square; }
%fh-tumblr:before, %fha-tumblr:after { content: $fh-var-tumblr; }
%fh-tumblr-square:before, %fha-tumblr-square:after { content: $fh-var-tumblr-square; }
%fh-long-arrow-down:before, %fha-long-arrow-down:after { content: $fh-var-long-arrow-down; }
%fh-long-arrow-up:before, %fha-long-arrow-up:after { content: $fh-var-long-arrow-up; }
%fh-long-arrow-left:before, %fha-long-arrow-left:after { content: $fh-var-long-arrow-left; }
%fh-long-arrow-right:before, %fha-long-arrow-right:after { content: $fh-var-long-arrow-right; }
%fh-apple:before, %fha-apple:after { content: $fh-var-apple; }
%fh-windows:before, %fha-windows:after { content: $fh-var-windows; }
%fh-android:before, %fha-android:after { content: $fh-var-android; }
%fh-linux:before, %fha-linux:after { content: $fh-var-linux; }
%fh-dribbble:before, %fha-dribbble:after { content: $fh-var-dribbble; }
%fh-skype:before, %fha-skype:after { content: $fh-var-skype; }
%fh-foursquare:before, %fha-foursquare:after { content: $fh-var-foursquare; }
%fh-trello:before, %fha-trello:after { content: $fh-var-trello; }
%fh-female:before, %fha-female:after { content: $fh-var-female; }
%fh-male:before, %fha-male:after { content: $fh-var-male; }
%fh-gittip:before, %fha-gittip:after,
%fh-gratipay:before, %fha-gratipay:after { content: $fh-var-gratipay; }
%fh-sun-o:before, %fha-sun-o:after { content: $fh-var-sun-o; }
%fh-moon-o:before, %fha-moon-o:after { content: $fh-var-moon-o; }
%fh-archive:before, %fha-archive:after { content: $fh-var-archive; }
%fh-bug:before, %fha-bug:after { content: $fh-var-bug; }
%fh-vk:before, %fha-vk:after { content: $fh-var-vk; }
%fh-weibo:before, %fha-weibo:after { content: $fh-var-weibo; }
%fh-renren:before, %fha-renren:after { content: $fh-var-renren; }
%fh-pagelines:before, %fha-pagelines:after { content: $fh-var-pagelines; }
%fh-stack-exchange:before, %fha-stack-exchange:after { content: $fh-var-stack-exchange; }
%fh-arrow-circle-o-right:before, %fha-arrow-circle-o-right:after { content: $fh-var-arrow-circle-o-right; }
%fh-arrow-circle-o-left:before, %fha-arrow-circle-o-left:after { content: $fh-var-arrow-circle-o-left; }
%fh-toggle-left:before, %fha-toggle-left:after,
%fh-caret-square-o-left:before, %fha-caret-square-o-left:after { content: $fh-var-caret-square-o-left; }
%fh-dot-circle-o:before, %fha-dot-circle-o:after { content: $fh-var-dot-circle-o; }
%fh-wheelchair:before, %fha-wheelchair:after { content: $fh-var-wheelchair; }
%fh-vimeo-square:before, %fha-vimeo-square:after { content: $fh-var-vimeo-square; }
%fh-turkish-lira:before, %fha-turkish-lira:after,
%fh-try:before, %fha-try:after { content: $fh-var-try; }
%fh-plus-square-o:before, %fha-plus-square-o:after { content: $fh-var-plus-square-o; }
%fh-space-shuttle:before, %fha-space-shuttle:after { content: $fh-var-space-shuttle; }
%fh-slack:before, %fha-slack:after { content: $fh-var-slack; }
%fh-envelope-square:before, %fha-envelope-square:after { content: $fh-var-envelope-square; }
%fh-wordpress:before, %fha-wordpress:after { content: $fh-var-wordpress; }
%fh-openid:before, %fha-openid:after { content: $fh-var-openid; }
%fh-institution:before, %fha-institution:after,
%fh-bank:before, %fha-bank:after,
%fh-university:before, %fha-university:after { content: $fh-var-university; }
%fh-mortar-board:before, %fha-mortar-board:after,
%fh-graduation-cap:before, %fha-graduation-cap:after { content: $fh-var-graduation-cap; }
%fh-yahoo:before, %fha-yahoo:after { content: $fh-var-yahoo; }
%fh-google:before, %fha-google:after { content: $fh-var-google; }
%fh-reddit:before, %fha-reddit:after { content: $fh-var-reddit; }
%fh-reddit-square:before, %fha-reddit-square:after { content: $fh-var-reddit-square; }
%fh-stumbleupon-circle:before, %fha-stumbleupon-circle:after { content: $fh-var-stumbleupon-circle; }
%fh-stumbleupon:before, %fha-stumbleupon:after { content: $fh-var-stumbleupon; }
%fh-delicious:before, %fha-delicious:after { content: $fh-var-delicious; }
%fh-digg:before, %fha-digg:after { content: $fh-var-digg; }
%fh-pied-piper:before, %fha-pied-piper:after { content: $fh-var-pied-piper; }
%fh-pied-piper-alt:before, %fha-pied-piper-alt:after { content: $fh-var-pied-piper-alt; }
%fh-drupal:before, %fha-drupal:after { content: $fh-var-drupal; }
%fh-joomla:before, %fha-joomla:after { content: $fh-var-joomla; }
%fh-language:before, %fha-language:after { content: $fh-var-language; }
%fh-fax:before, %fha-fax:after { content: $fh-var-fax; }
%fh-building:before, %fha-building:after { content: $fh-var-building; }
%fh-child:before, %fha-child:after { content: $fh-var-child; }
%fh-paw:before, %fha-paw:after { content: $fh-var-paw; }
%fh-spoon:before, %fha-spoon:after { content: $fh-var-spoon; }
%fh-cube:before, %fha-cube:after { content: $fh-var-cube; }
%fh-cubes:before, %fha-cubes:after { content: $fh-var-cubes; }
%fh-behance:before, %fha-behance:after { content: $fh-var-behance; }
%fh-behance-square:before, %fha-behance-square:after { content: $fh-var-behance-square; }
%fh-steam:before, %fha-steam:after { content: $fh-var-steam; }
%fh-steam-square:before, %fha-steam-square:after { content: $fh-var-steam-square; }
%fh-recycle:before, %fha-recycle:after { content: $fh-var-recycle; }
%fh-automobile:before, %fha-automobile:after,
%fh-car:before, %fha-car:after { content: $fh-var-car; }
%fh-cab:before, %fha-cab:after,
%fh-taxi:before, %fha-taxi:after { content: $fh-var-taxi; }
%fh-tree:before, %fha-tree:after { content: $fh-var-tree; }
%fh-spotify:before, %fha-spotify:after { content: $fh-var-spotify; }
%fh-deviantart:before, %fha-deviantart:after { content: $fh-var-deviantart; }
%fh-soundcloud:before, %fha-soundcloud:after { content: $fh-var-soundcloud; }
%fh-database:before, %fha-database:after { content: $fh-var-database; }
%fh-file-pdf-o:before, %fha-file-pdf-o:after { content: $fh-var-file-pdf-o; }
%fh-file-word-o:before, %fha-file-word-o:after { content: $fh-var-file-word-o; }
%fh-file-excel-o:before, %fha-file-excel-o:after { content: $fh-var-file-excel-o; }
%fh-file-powerpoint-o:before, %fha-file-powerpoint-o:after { content: $fh-var-file-powerpoint-o; }
%fh-file-photo-o:before, %fha-file-photo-o:after,
%fh-file-picture-o:before, %fha-file-picture-o:after,
%fh-file-image-o:before, %fha-file-image-o:after { content: $fh-var-file-image-o; }
%fh-file-zip-o:before, %fha-file-zip-o:after,
%fh-file-archive-o:before, %fha-file-archive-o:after { content: $fh-var-file-archive-o; }
%fh-file-sound-o:before, %fha-file-sound-o:after,
%fh-file-audio-o:before, %fha-file-audio-o:after { content: $fh-var-file-audio-o; }
%fh-file-movie-o:before, %fha-file-movie-o:after,
%fh-file-video-o:before, %fha-file-video-o:after { content: $fh-var-file-video-o; }
%fh-file-code-o:before, %fha-file-code-o:after { content: $fh-var-file-code-o; }
%fh-vine:before, %fha-vine:after { content: $fh-var-vine; }
%fh-codepen:before, %fha-codepen:after { content: $fh-var-codepen; }
%fh-jsfiddle:before, %fha-jsfiddle:after { content: $fh-var-jsfiddle; }
%fh-life-bouy:before, %fha-life-bouy:after,
%fh-life-buoy:before, %fha-life-buoy:after,
%fh-life-saver:before, %fha-life-saver:after,
%fh-support:before, %fha-support:after,
%fh-life-ring:before, %fha-life-ring:after { content: $fh-var-life-ring; }
%fh-circle-o-notch:before, %fha-circle-o-notch:after { content: $fh-var-circle-o-notch; }
%fh-ra:before, %fha-ra:after,
%fh-rebel:before, %fha-rebel:after { content: $fh-var-rebel; }
%fh-ge:before, %fha-ge:after,
%fh-empire:before, %fha-empire:after { content: $fh-var-empire; }
%fh-git-square:before, %fha-git-square:after { content: $fh-var-git-square; }
%fh-git:before, %fha-git:after { content: $fh-var-git; }
%fh-hacker-news:before, %fha-hacker-news:after { content: $fh-var-hacker-news; }
%fh-tencent-weibo:before, %fha-tencent-weibo:after { content: $fh-var-tencent-weibo; }
%fh-qq:before, %fha-qq:after { content: $fh-var-qq; }
%fh-wechat:before, %fha-wechat:after,
%fh-weixin:before, %fha-weixin:after { content: $fh-var-weixin; }
%fh-send:before, %fha-send:after,
%fh-paper-plane:before, %fha-paper-plane:after { content: $fh-var-paper-plane; }
%fh-send-o:before, %fha-send-o:after,
%fh-paper-plane-o:before, %fha-paper-plane-o:after { content: $fh-var-paper-plane-o; }
%fh-history:before, %fha-history:after { content: $fh-var-history; }
%fh-genderless:before, %fha-genderless:after,
%fh-circle-thin:before, %fha-circle-thin:after { content: $fh-var-circle-thin; }
%fh-header:before, %fha-header:after { content: $fh-var-header; }
%fh-paragraph:before, %fha-paragraph:after { content: $fh-var-paragraph; }
%fh-sliders:before, %fha-sliders:after { content: $fh-var-sliders; }
%fh-share-alt:before, %fha-share-alt:after { content: $fh-var-share-alt; }
%fh-share-alt-square:before, %fha-share-alt-square:after { content: $fh-var-share-alt-square; }
%fh-bomb:before, %fha-bomb:after { content: $fh-var-bomb; }
%fh-soccer-ball-o:before, %fha-soccer-ball-o:after,
%fh-futbol-o:before, %fha-futbol-o:after { content: $fh-var-futbol-o; }
%fh-tty:before, %fha-tty:after { content: $fh-var-tty; }
%fh-binoculars:before, %fha-binoculars:after { content: $fh-var-binoculars; }
%fh-plug:before, %fha-plug:after { content: $fh-var-plug; }
%fh-slideshare:before, %fha-slideshare:after { content: $fh-var-slideshare; }
%fh-twitch:before, %fha-twitch:after { content: $fh-var-twitch; }
%fh-yelp:before, %fha-yelp:after { content: $fh-var-yelp; }
%fh-newspaper-o:before, %fha-newspaper-o:after { content: $fh-var-newspaper-o; }
%fh-wifi:before, %fha-wifi:after { content: $fh-var-wifi; }
%fh-calculator:before, %fha-calculator:after { content: $fh-var-calculator; }
%fh-paypal:before, %fha-paypal:after { content: $fh-var-paypal; }
%fh-google-wallet:before, %fha-google-wallet:after { content: $fh-var-google-wallet; }
%fh-cc-visa:before, %fha-cc-visa:after { content: $fh-var-cc-visa; }
%fh-cc-mastercard:before, %fha-cc-mastercard:after { content: $fh-var-cc-mastercard; }
%fh-cc-discover:before, %fha-cc-discover:after { content: $fh-var-cc-discover; }
%fh-cc-amex:before, %fha-cc-amex:after { content: $fh-var-cc-amex; }
%fh-cc-paypal:before, %fha-cc-paypal:after { content: $fh-var-cc-paypal; }
%fh-cc-stripe:before, %fha-cc-stripe:after { content: $fh-var-cc-stripe; }
%fh-bell-slash:before, %fha-bell-slash:after { content: $fh-var-bell-slash; }
%fh-bell-slash-o:before, %fha-bell-slash-o:after { content: $fh-var-bell-slash-o; }
%fh-trash:before, %fha-trash:after { content: $fh-var-trash; }
%fh-copyright:before, %fha-copyright:after { content: $fh-var-copyright; }
%fh-at:before, %fha-at:after { content: $fh-var-at; }
%fh-eyedropper:before, %fha-eyedropper:after { content: $fh-var-eyedropper; }
%fh-paint-brush:before, %fha-paint-brush:after { content: $fh-var-paint-brush; }
%fh-birthday-cake:before, %fha-birthday-cake:after { content: $fh-var-birthday-cake; }
%fh-area-chart:before, %fha-area-chart:after { content: $fh-var-area-chart; }
%fh-pie-chart:before, %fha-pie-chart:after { content: $fh-var-pie-chart; }
%fh-line-chart:before, %fha-line-chart:after { content: $fh-var-line-chart; }
%fh-lastfm:before, %fha-lastfm:after { content: $fh-var-lastfm; }
%fh-lastfm-square:before, %fha-lastfm-square:after { content: $fh-var-lastfm-square; }
%fh-toggle-off:before, %fha-toggle-off:after { content: $fh-var-toggle-off; }
%fh-toggle-on:before, %fha-toggle-on:after { content: $fh-var-toggle-on; }
%fh-bicycle:before, %fha-bicycle:after { content: $fh-var-bicycle; }
%fh-bus:before, %fha-bus:after { content: $fh-var-bus; }
%fh-ioxhost:before, %fha-ioxhost:after { content: $fh-var-ioxhost; }
%fh-angellist:before, %fha-angellist:after { content: $fh-var-angellist; }
%fh-cc:before, %fha-cc:after { content: $fh-var-cc; }
%fh-shekel:before, %fha-shekel:after,
%fh-sheqel:before, %fha-sheqel:after,
%fh-ils:before, %fha-ils:after { content: $fh-var-ils; }
%fh-meanpath:before, %fha-meanpath:after { content: $fh-var-meanpath; }
%fh-buysellads:before, %fha-buysellads:after { content: $fh-var-buysellads; }
%fh-connectdevelop:before, %fha-connectdevelop:after { content: $fh-var-connectdevelop; }
%fh-dashcube:before, %fha-dashcube:after { content: $fh-var-dashcube; }
%fh-forumbee:before, %fha-forumbee:after { content: $fh-var-forumbee; }
%fh-leanpub:before, %fha-leanpub:after { content: $fh-var-leanpub; }
%fh-sellsy:before, %fha-sellsy:after { content: $fh-var-sellsy; }
%fh-shirtsinbulk:before, %fha-shirtsinbulk:after { content: $fh-var-shirtsinbulk; }
%fh-simplybuilt:before, %fha-simplybuilt:after { content: $fh-var-simplybuilt; }
%fh-skyatlas:before, %fha-skyatlas:after { content: $fh-var-skyatlas; }
%fh-cart-plus:before, %fha-cart-plus:after { content: $fh-var-cart-plus; }
%fh-cart-arrow-down:before, %fha-cart-arrow-down:after { content: $fh-var-cart-arrow-down; }
%fh-diamond:before, %fha-diamond:after { content: $fh-var-diamond; }
%fh-ship:before, %fha-ship:after { content: $fh-var-ship; }
%fh-user-secret:before, %fha-user-secret:after { content: $fh-var-user-secret; }
%fh-motorcycle:before, %fha-motorcycle:after { content: $fh-var-motorcycle; }
%fh-street-view:before, %fha-street-view:after { content: $fh-var-street-view; }
%fh-heartbeat:before, %fha-heartbeat:after { content: $fh-var-heartbeat; }
%fh-venus:before, %fha-venus:after { content: $fh-var-venus; }
%fh-mars:before, %fha-mars:after { content: $fh-var-mars; }
%fh-mercury:before, %fha-mercury:after { content: $fh-var-mercury; }
%fh-transgender:before, %fha-transgender:after { content: $fh-var-transgender; }
%fh-transgender-alt:before, %fha-transgender-alt:after { content: $fh-var-transgender-alt; }
%fh-venus-double:before, %fha-venus-double:after { content: $fh-var-venus-double; }
%fh-mars-double:before, %fha-mars-double:after { content: $fh-var-mars-double; }
%fh-venus-mars:before, %fha-venus-mars:after { content: $fh-var-venus-mars; }
%fh-mars-stroke:before, %fha-mars-stroke:after { content: $fh-var-mars-stroke; }
%fh-mars-stroke-v:before, %fha-mars-stroke-v:after { content: $fh-var-mars-stroke-v; }
%fh-mars-stroke-h:before, %fha-mars-stroke-h:after { content: $fh-var-mars-stroke-h; }
%fh-neuter:before, %fha-neuter:after { content: $fh-var-neuter; }
%fh-facebook-official:before, %fha-facebook-official:after { content: $fh-var-facebook-official; }
%fh-pinterest-p:before, %fha-pinterest-p:after { content: $fh-var-pinterest-p; }
%fh-whatsapp:before, %fha-whatsapp:after { content: $fh-var-whatsapp; }
%fh-server:before, %fha-server:after { content: $fh-var-server; }
%fh-user-plus:before, %fha-user-plus:after { content: $fh-var-user-plus; }
%fh-user-times:before, %fha-user-times:after { content: $fh-var-user-times; }
%fh-hotel:before, %fha-hotel:after,
%fh-bed:before, %fha-bed:after { content: $fh-var-bed; }
%fh-viacoin:before, %fha-viacoin:after { content: $fh-var-viacoin; }
%fh-train:before, %fha-train:after { content: $fh-var-train; }
%fh-subway:before, %fha-subway:after { content: $fh-var-subway; }
%fh-medium:before, %fha-medium:after { content: $fh-var-medium; }
