@font-face {
  font-family: FontAwesome;
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format('woff2'), url("//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format('woff'), url("//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format('truetype'), url("//netdna.bootstrapcdn.com/font-awesome/4.3.0/fontsfontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.share:before,
button.share-twitter:before,
button.share-fb:before,
button.config:before,
button.logout:after,
#media button.backward:before,
#media button.play-pause:before,
#media button.forward:before,
.photo:before,
.huge-photo:after,
nav.main li.home:before,
nav.main li.lib:before,
nav.main li.app:before,
nav.main li.config:before,
article ul.cooker > li:before,
article ul.cooker li:hover:before,
article ul.cooker li.checked:before,
article ul.cooker li.cutlery:before,
.entry blockquote:nth-child(odd) p:first-child:before,
.entry blockquote:nth-child(even) p:first-child:before,
p.loading:before,
p.pulse-loading:before,
p.waiting:before,
button.setting:before,
button.refresh:after,
.military-code > li:before,
a.tweet:before,
a.tweet:after,
button.report:before,
button.report:after,
pre.cli:before,
pre.cli:after,
p.no-photo:before,
p.no-photo:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-family: FontAwesome, sans-serif;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding: 0.05em;
  text-indent: 0;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
#media button {
  color: transparent;
  display: inline-block;
  height: 1.1em;
  width: 1.1em;
  overflow: hidden;
  padding: 0.05em;
}
.photo:before {
  font-size: 1.333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.entry blockquote:nth-child(odd) p:first-child:before,
.entry blockquote:nth-child(even) p:first-child:before,
.huge-photo:after {
  font-size: 3em;
}
nav.main li:before,
.military-code > li:before {
  width: 1.285714285714286em;
  text-align: center;
}
article ul.cooker {
  padding-left: 0;
  margin-left: 2.142857142857143em;
  list-style-type: none;
}
article ul.cooker > li {
  position: relative;
}
article ul.cooker > li:before {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.142857142857143em;
  text-align: center;
}
.entry blockquote:nth-child(odd) p:first-child:before,
.entry blockquote:nth-child(even) p:first-child:before {
  padding: 0.2em 0.25em 0.15em;
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
  border: solid 0.08em #eee;
  border-radius: 0.1em;
}
.entry blockquote:nth-child(odd) p:first-child,
.entry blockquote:nth-child(even) p:first-child {
  overflow: auto;
}
.entry blockquote:nth-child(even) p:first-child:before {
  float: left;
  margin-right: 0.3em;
}
.entry blockquote:nth-child(odd) p:first-child:before {
  float: right;
  margin-left: 0.3em;
}
p.pulse-loading:before {
  -webkit-animation: fh-spin 1s infinite steps(8);
  -moz-animation: fh-spin 1s infinite steps(8);
  animation: fh-spin 1s infinite steps(8);
}
p.loading:before,
p.waiting:before,
button.setting:before,
button.refresh:hover:after,
button.refresh.ing:after {
  -webkit-animation: fh-spin 2s infinite linear;
  -moz-animation: fh-spin 2s infinite linear;
  animation: fh-spin 2s infinite linear;
}
.military-code .attacking:before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.military-code .wiped-out:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.military-code .attacked:before {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.military-code .ally:before {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.military-code .enemy:before {
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
a.tweet,
button.report,
pre.cli,
p.no-photo {
  min-height: 2em;
  min-width: 2em;
  padding-left: 2.1em;
  padding-top: 0.45em;
  position: relative;
}
a.tweet:before,
button.report:before,
pre.cli:before,
p.no-photo:before,
a.tweet:after,
button.report:after,
pre.cli:after,
p.no-photo:after {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  line-height: 2;
  text-align: center;
  vertical-align: middle;
  color: #333;
}
a.tweet:before,
button.report:before,
pre.cli:before,
p.no-photo:before {
  height: 2em;
  width: 2em;
  z-index: 5;
}
a.tweet:after,
button.report:after,
pre.cli:after,
p.no-photo:after {
  height: 1em;
  width: 1em;
  font-size: 2em;
  line-height: 1;
}
p.no-photo:after {
  z-index: 10;
}
pre.cli:before,
button.report:after {
  color: #fff;
}
@-moz-keyframes fh-spin {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes fh-spin {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes fh-spin {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fh-spin {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
button.config:before,
nav.main li.config:before,
button.setting:before {
  content: '\f013';
}
nav.main li.home:before {
  content: '\f015';
}
button.refresh:after {
  content: '\f021';
}
button.report:before {
  content: '\f024';
}
nav.main li.lib:before {
  content: '\f02d';
}
p.no-photo:before {
  content: '\f030';
}
nav.main li.app:before {
  content: '\f040';
}
#media button.backward:before {
  content: '\f04a';
}
#media button.play-pause:before {
  content: '\f04b';
}
#media button.forward:before {
  content: '\f04e';
}
p.no-photo:after {
  content: '\f05e';
}
button.share-fb:before {
  content: '\f082';
}
.photo:before,
.huge-photo:after {
  content: '\f083';
}
button.logout:after {
  content: '\f08b';
}
a.tweet:after {
  content: '\f096';
}
button.share-twitter:before,
a.tweet:before {
  content: '\f099';
}
article ul.cooker > li:before,
pre.cli:after {
  content: '\f0c8';
}
article ul.cooker li.cutlery:before {
  content: '\f0f5';
}
.entry blockquote:nth-child(even) p:first-child:before {
  content: '\f10d';
}
.entry blockquote:nth-child(odd) p:first-child:before {
  content: '\f10e';
}
p.loading:before,
p.pulse-loading:before {
  content: '\f110';
}
button.report:after {
  content: '\f111';
}
pre.cli:before {
  content: '\f120';
}
.military-code > li:before {
  content: '\f132';
}
article ul.cooker li:hover:before,
article ul.cooker li.checked:before {
  content: '\f14a';
}
p.waiting:before {
  content: '\f1ce';
}
.share:before {
  content: '\f1e0';
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
.layout {
  max-width: 60em;
  width: 90%;
  margin: 0 auto;
}
a:link,
a:visited {
  color: #2e6ea5;
  text-decoration: none;
}
a:hover {
  color: #337ab7;
  text-decoration: underline;
}
a:active {
  color: #4bad4b;
}
button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  outline: 0;
  padding: 0.25em;
}
article.layout {
  padding: 2em 0;
}
article h1 + p,
article h2 + p,
article h3 + p,
article h4 + p,
article h5 + p,
article h6 + p,
article h1 + ul,
article h2 + ul,
article h3 + ul,
article h4 + ul,
article h5 + ul,
article h6 + ul,
article h1 + ol,
article h2 + ol,
article h3 + ol,
article h4 + ol,
article h5 + ol,
article h6 + ol {
  margin-top: -1em;
}
.share {
  margin-right: 0.25em;
}
button.share-twitter:before {
  color: #50aaf1;
}
button.share-fb:before {
  color: #405b9d;
}
button.config:before {
  color: #333;
}
button.logout:after {
  color: #d9534f;
}
#media button {
  height: 2em;
  width: 2em;
  padding: 0.35em 0.5em 0.5em;
  background-color: #999;
  border-color: #ccc;
  border-radius: 1em;
}
#media button:before {
  color: #333;
}
#media button.backward {
  padding-left: 0.3em;
}
#media button.play-pause {
  background-color: #bbb;
}
span.photo,
.huge-photo {
  background-color: #74c9e3;
  border-radius: 0.25em;
  margin-right: 0.5em;
  padding: 0.25em;
}
nav.main ul {
  padding-left: 1em;
  list-style: none;
}
article ul.cooker > li:before {
  color: #999;
}
article ul.cooker li:hover,
article ul.cooker li.checked {
  cursor: pointer;
}
article ul.cooker li:hover,
article ul.cooker li.checked {
  color: #337ab7;
}
article ul.cooker li.checked:before {
  color: #5cb85c;
}
article ul.cooker li.cutlery {
  color: #f0ad4e;
}
.entry blockquote:nth-child(odd) p:first-child {
  text-align: right;
}
.entry blockquote:nth-child(even) p:first-child {
  text-align: left;
}
p.waiting:before {
  color: #333;
}
.military-code {
  list-style: none;
  padding-left: 0.5em;
}
.military-code > li:before {
  color: #f0ad4e;
}
.military-code > li:before {
  margin-right: 0.5em;
}
.military-code .wiped-out:before {
  color: #5cb85c;
}
.military-code .ally:before {
  color: #5cb85c;
}
.military-code .enemy:before {
  color: #5cb85c;
}
a.tweet:before {
  color: #50aaf1;
}
a.tweet:after {
  color: #50aaf1;
}
button.report {
  background-color: #d9534f;
  border-color: #d5423e;
  color: #efefef;
  font-weight: bold;
  padding-bottom: 0.55em;
}
button.report:before {
  color: #d9534f;
}
pre.cli {
  background-color: #ace;
  border-radius: 0.25em;
  padding: 0.5em 0.5em 0.55em 2.3em;
}
p.no-photo:before {
  color: #333;
}
p.no-photo:after {
  color: #d9534f;
}
