doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Font Handsome examples
    link(rel='stylesheet' media='all' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet' media='all' href='./demo.css')
  body
    header.layout
    main: article.layout
      section#basic-usage
        h2 Basic usage
        .example
          span.share Share
          button.share-twitter Share to Twitter
          button.share-fb Share to Facebook
      section#starting-end
        h2 Starting or end point (::before/::after)
        .example
          button.config Preference
          button.logout Logout
      section#hide-text
        h2 Hide the original text 
        .example#media
          button.backward Backward
          button.play-pause Play/Pause
          button.forward Forward
      section#larger-sizes
        h2 Larger sizes
        .example
          p
            span.photo 82.5 &times; 120
            span.huge-photo 203 &times; 305
      section#fixed-width-icons
        h2 Fixed-width icons
        .example.
          <nav class="main">
          <ul>
          <li class="home"><a href="#">Home</a>
          <li class="lib"><a href="#">Library</a>
          <li class="app"><a href="#">Applications</a>
          <li class="config"><a href="#">Settings</a>
          </ul>
          </nav>
      section#list-icons
        h2 List icons
        .example.
          <article class="recipe">
          <p>Here are what you need to cook a delicious pake,
          <ul class="cooker">
          <li>An oven
          <li class="checked">A Pot
          <li>A non-sticky pan
          <li>Knives
          <li class="cutlery">3 forks
          <li>A whipper
          </ul>
          <p>…
          </article>
      section#bordered-and-pulled-icons
        h2 Bordered & pulled icons
        .example.
          <div class="entry">
          …
          <blockquote>
          <p>…tomorrow we will run faster, stretch out our arms farther… And then one fine morning — So we beat on, boats against the current, borne back ceaselessly into the past.
          </blockquote>
          …
          <blockquote>
          <p>…tomorrow we will run faster, stretch out our arms farther… And then one fine morning — So we beat on, boats against the current, borne back ceaselessly into the past.
          </blockquote>
          </div>
      section#spinning-icons
        h2 Spinning icons
        .example
          p.loading Loading, be patient…
          p.pulse-loading Loading, be patient…
          p.waiting Waiting for the server to respond…
          p: button.setting Setting 
          p
            button.refresh Refresh! 
            |  Hover on the left button to see it spin.
      p: section#rotated-and-flipped
        h2 Rotated & flipped
        .example
          p Secret military signs during war times,
          ul.military-code
            li.war-time War is on
            li.attacking Us attacking
            li.attacked Us under attacked
            li.wiped-out Enemy are wiped out
            li.ally Allies
            li.enemy Enemies
      section#stacked-icons
        h2 Stacked icons
        .example
          p: a.tweet(href='https://twitter.com/ethantw/timelines/419245224007696385') Tweets about us
          button.report Report this
          pre.cli: code.
            ls -lah
          p.no-photo No Photography
    nav.layout

